body{
    text-align: center;
    margin: auto;
}

h1, h2{
    margin: 0px;
}

.playField{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

.scoreboard{
    grid-column: 1 / 2;
    width: 300px;
}

.scoreCategoryName{
   text-align: left;
}

.scoreCategory{
    opacity: 50%;
}

.scoreCategory:hover{
    opacity: 100%;
    cursor: pointer;
}

.blankRow{
    height: 15px;
}

.scoreCategoryClicked{
    opacity: 100%;
    pointer-events: none;
    color: orange;
}

.diceContainer{
    grid-column: 2 / 3;
}

#rollButton{
    margin: auto;
    display: block;
}

.saved{
    border: 5px solid blue;
}

.unsaved{
    border: none;
}